@model E_LearningApplication.Models.ViewModels.CoursesViewModel

<div class="form-panel">
    <h2><i class="fa fa-angle-right"></i> Create Course</h2>

    <div class="panel panel-body">
        <div class="panel-default">
            @using (Html.BeginForm("CreateCourse", "Prof", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="editor-label">
                    @Html.LabelFor(model => model.CourseName)
                </div>
                <div class="editor-field mb">
                    @Html.EditorFor(model => model.CourseName)
                    @Html.ValidationMessageFor(model => model.CourseName)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.NumberOfCredits)
                </div>
                <div class="editor-field mb">
                    @Html.EditorFor(model => model.NumberOfCredits)
                    @Html.ValidationMessageFor(model => model.NumberOfCredits)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.CourdeCode)
                </div>
                <div class="editor-field mb">
                    @Html.EditorFor(model => model.CourdeCode)
                    @Html.ValidationMessageFor(model => model.CourdeCode)
                </div>

                <div class="editor-field mb">
                    <br />
                    <label>Upload the SyllabusId: </label>
                    <input type="file" name="file" class="btn btn-info" />
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.EnrollementKey)
                </div>
                <div class="editor-field mb">
                    @Html.EditorFor(model => model.EnrollementKey)
                    @Html.ValidationMessageFor(model => model.EnrollementKey)
                </div>

                <p>
                    <input type="submit" class="btn btn-primary btn-sm" value="Create" />
                </p>
            }
        </div>

        <div>
            <button type="button" class="btn btn-link mt">
                <h4>
                    <i class="fa fa-arrow-left"></i>
                    @Html.ActionLink("Back to Courses List", "DisplayCourses")
                </h4>
            </button>
        </div>
    </div>
</div>
