@model E_LearningApplication.Models.ViewModels.CoursesViewModel

<div class="form-panel">
    <h2><i class="fa fa-angle-right"></i> Edit Course</h2>

    <div class="panel panel-body">
        <div class="panel-default">
            @using (Html.BeginForm()) {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                @Html.HiddenFor(model => model.CourseId)
                @Html.HiddenFor(model => model.SyllabusId)
                @Html.HiddenFor(model => model.CourdeCode)
                @Html.HiddenFor(model => model.OwnerId)

                <div class="editor-label">
                    @Html.LabelFor(model => model.NumberOfCredits)
                </div>
                <div class="editor-field mb">
                    @Html.EditorFor(model => model.NumberOfCredits)
                    @Html.ValidationMessageFor(model => model.NumberOfCredits)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.CourseName)
                </div>
                <div class="editor-field mb">
                    @Html.EditorFor(model => model.CourseName)
                    @Html.ValidationMessageFor(model => model.CourseName)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.CourdeCode)
                </div>
                <div class="editor-label mb">
                    @Html.DisplayFor(model => model.CourdeCode)
                </div>

                <p>
                    <input type="submit" class="btn btn-success btn-sm" value="Save Changes" />
                </p>
            }

        </div>

        <div>
            <button type="button" class="btn btn-link mt">
                <h4>
                    <i class="fa fa-arrow-left"></i>
                    @Html.ActionLink("Back to Courses List", "DisplayCourses")
                </h4>
            </button>
        </div>
    </div>
</div>
