@model E_LearningApplication.Models.ViewModels.CourseModuleViewModel

@{
    var _userId = Session["UserId"];
    var _sessionUser = Convert.ToInt32(_userId);
}

<div class="form-panel">
    <h2><i class="fa fa-angle-right"></i> Module Details</h2>

    <div class="panel panel-body panel-default">
        @Html.HiddenFor(model => model.ModuleId)
        @Html.HiddenFor(model => model.CourseId)
        @Html.HiddenFor(model => model.GradeId)

        <div class="col-lg-6">
            <div class="row mb">
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.ModuleName)
                </div>
                <div class="display-field mb">
                    @Html.DisplayFor(model => model.ModuleName)
                </div>

                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Moduledatetime)
                </div>
                <div class="display-field mb">
                    @Html.DisplayFor(model => model.Moduledatetime)
                </div>

                <div class="display-label">
                    @Html.DisplayNameFor(model => model.PreviousModuleId)
                </div>
                <div class="display-field mb">
                    @Html.DisplayFor(model => model.PreviousModuleId)
                </div>
            </div>

            <div class="row mb">
                <button class="btn btn-theme03 btn-xs" title="Edit module">
                    <i class="fa fa-pencil"></i>
                    @Html.ActionLink("Edit", "EditModule", new { id = Model.ModuleId })
                </button>
            </div>

            <div class="row mb">
                @using (Html.BeginForm("DeleteModule", "Prof", new { id = Model.ModuleId, courseId = Model.CourseId }, FormMethod.Post)) {
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-danger btn-xs" title="Delete module">
                        <i class="fa fa-trash-o"></i> Delete
                    </button>
                }
            </div>
        </div>

        <div class="col-lg-6">

            <div class="row mb">
                <button class="btn btn-info btn-xs" title="Display module resources">
                    <i class="fa fa-cogs"></i>
                    @Html.ActionLink("Manage Module Resources", "DisplayModuleResources", new { id = Model.ModuleId })
                </button>
            </div>

            <div class="row mb">
                <button class="btn btn-info btn-xs" title="Add module resource">
                    <i class="fa fa-plus-circle"></i>
                    @Html.ActionLink("Add Module Resource", "AddModuleResource", new { moduleId = Model.ModuleId, courseId = Model.CourseId })
                </button>
            </div>

            <div class="row mb">
                <button class="btn btn-theme btn-xs" title="Manage course homework">
                    <span class="fa fa-cogs"></span>
                    @Html.ActionLink("Manage Homeworks", "DisplayAllCourseModuleHomework", "Homework", new { id = Model.ModuleId }, new { title = "Manage module homework" })
                </button>
            </div>

            <div class="row mb">
                <button class="btn btn-theme btn-xs" title="Add course homework">
                    <span class="fa fa-plus-circle"></span>
                    @Html.ActionLink("Add Homework", "CreateCourseModuleHomework", "Homework", new { id = Model.ModuleId }, new { title = "Add module homework" })
                </button>
            </div>

            <div class="row mb">
                <button class="btn btn-theme btn-xs" title="View given grades">
                    <span class="fa fa-folder-open"></span>
                    @Html.ActionLink("Display Grades", "DisplayCourseModuleGivenGrades", "Grades", new { courseModuleId = Model.ModuleId }, new { title = "View given grades for the module" })
                </button>
            </div>

        </div>
    </div>

    <div>
        <button type="button" class="btn btn-link mt">
            <h4>
                <i class="fa fa-arrow-left"></i>
                @Html.ActionLink("Back to Modules List", "DisplayModules", new { id = Model.CourseId })
            </h4>
        </button>
    </div>
</div>