@model E_LearningApplication.Models.ViewModels.MessagesViewModel

<div class="form-panel">
    <h2><i class="fa fa-angle-right"></i> Edit Comment</h2>

    <div class="panel panel-body panel-default">
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            @Html.HiddenFor(model => model.MessageId)
            @Html.HiddenFor(userId => Model.user.UserId)
            @Html.HiddenFor(model => model.MesageData)

            <div class="editor-label">
                @Html.LabelFor(model => model.MessageContent)
            </div>
            <div class="editor-field mb">
                @Html.EditorFor(model => model.MessageContent)
                @Html.ValidationMessageFor(model => model.MessageContent)
            </div>

            <p>
                <input type="submit" class="btn btn-success btn-sm" value="Save Changes" />
            </p>
        }
    </div>
</div>

