<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>E-Learning Platform</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/themes/Theme/assets/cssApp")
    @Styles.Render("~/Content/themes/Theme/assets/font-awesome/cssApp")
    @Styles.Render("~/Content/themes/Theme/assets/font-awesome/fontsApp")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                <li>@Html.ActionLink("Prof", "Index", "Prof")</li>
                <li>@Html.ActionLink("Student", "Index", "Student")</li>
                <li title="View all the groups available for subscription">@Html.ActionLink("View available groups", "DisplayAllGroups", "Groups")</li>
                <li title="View all the groups I'm subscribed to">@Html.ActionLink("View my groups", "DisplayAssociatedGroups", "Groups")</li>
                <li title="Creates a new forum topic">@Html.ActionLink("Go to forum", "Forum", "Discussions")</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @Html.Partial("_LoginPartial")
            </ul>
        </div>
    </header>
    <div id="body" class="container">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer class="well">
        <div class="content-wrapper">
            <div class="float-left">
                <p align="center">Space Monkeys &copy; @DateTime.Now.Year</p>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
