@model Tuple<List<E_LearningApplication.Models.UserProfile>, List<E_LearningApplication.Models.ViewModels.GroupsViewModel>, int, int>

@{
    var _homeworkId = Model.Item3;
    var _courseModuleId = Model.Item4;

    var _usersList = new List<SelectListItem>();
    _usersList.Add(new SelectListItem() { Text = "Choose a student...", Value = "-1", Selected = true });
    foreach (var item in Model.Item1) {
        _usersList.Add(
        new SelectListItem() {
            Text = item.FirstName + " " + item.LastName + " - " + item.UserName,
            Value = item.UserId.ToString()
        });
    };

    var _groupsList = new List<SelectListItem>();
    _groupsList.Add(new SelectListItem() { Text = "Choose a group...", Value = "-1", Selected = true });
    foreach (var item in Model.Item2) {
        _groupsList.Add(
        new SelectListItem() {
            Text = item.GroupName,
            Value = item.GroupId.ToString()
        });
    };
}

<div>
    <div class="col-lg-3"></div>
    <div class="form-panel col-lg-6">
        <h2><i class="fa fa-angle-right"></i> Add Assignement</h2>

        <div class="panel panel-body">
            @using (Html.BeginForm("CourseModuleHomeworkAssignement", "Homework", new { id = _homeworkId, courseModuleId = _courseModuleId }, FormMethod.Post, new { @class = "panel-default" })) {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                @Html.Label("Choose a recipient to assign the homework to:")
                <br />
                @Html.DropDownList("studentId", _usersList, new { @class = "btn btn-theme03" })
                <label class="mb">- OR -</label>
                @Html.DropDownList("groupId", _groupsList, new { @class = "btn btn-theme03" })

                <p>
                    <input type="submit" class="btn btn-primary btn-sm" value="Add Assignement" />
                </p>
            }
        </div>
    </div>
    <div class="col-lg-3"></div>
</div>