@model IEnumerable<E_LearningApplication.Models.ViewModels.AssignementViewModel>


<div class="form-panel">
    <div class="panel panel-body panel-default">
        <h2><i class="fa fa-angle-right"></i> Homework Assignements</h2>

        <table class="table table-striped table-hover mt">
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.HomeworkName)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.HomeworkDescription)
                </td>
                <td>
                    Full description
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.HomeworkDeadline)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.HomeworkPoints)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.SubjectCode)
                </td>
                <th>Was Submitted?</th>
                <th></th>
            </tr>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.HomeworkName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HomeworkDescription)
                    </td>
                    <td>
                        <button class="btn btn-info btn-xs" title="Download course resources">
                            <i class="fa fa-arrow-down"></i>
                            @Html.ActionLink("Download", "DowloadCourseResource", new { id = item.HomeworkId })
                        </button>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HomeworkDeadline)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HomeworkPoints)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubjectCode)
                    </td>
                    <td>
                        @if (item.AnswerId != null && item.AnswerId > 0) {
                            <span>Yes</span>
                        }
                        else {
                            <span>No</span>
                        }
                    </td>
                    <td>
                        @if (item.AnswerId != null && item.AnswerId > 0) {
                            <button class="btn btn-theme03 btn-xs" title="Grade the homework">
                                <i class="fa fa-send-o"></i>
                                @Html.ActionLink("Resubmit", "SubmitGroupHomework", "Homework", new { homeworkId = item.HomeworkId, assignementId = item.AssignementId, recipientId = item.RecipientId }, new { title = "Resubmit an answer to the assigned homework" })
                            </button>
                        }
                        else {
                            <button class="btn btn-theme03 btn-xs" title="Grade the homework">
                                <i class="fa fa-send-o"></i>
                                @Html.ActionLink("Submit", "SubmitGroupHomework", "Homework", new { homeworkId = item.HomeworkId, assignementId = item.AssignementId, recipientId = item.RecipientId }, new { title = "Submit an answer to the assigned homework" })
                            </button>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>