@model Tuple<E_LearningApplication.Models.ViewModels.AnswersViewModel, int, int, int>

@{
    var viewModel = Model.Item1;
    var _assignementId = Model.Item2;
    var _homeworkId = Model.Item3;
    var _courseId = Model.Item4;
}

<div class="form-panel">

    <div class="panel panel-body">
        @using (Html.BeginForm("CourseHomeworkGrading", "Grades", new { assignementId = _assignementId, answerId = viewModel.AnswerId, homeworkId = _homeworkId, courseId = _courseId }, FormMethod.Post, new { @class = "panel-default" })) {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <h2><i class="fa fa-angle-right"></i> Submited Answer Details</h2>

            @Html.HiddenFor(model => viewModel.AnswerId)

            <div class="display-label">
                @Html.DisplayNameFor(model => viewModel.AnswerType)
            </div>
            <div class="display-field mb">
                @Html.DisplayFor(model => viewModel.AnswerType)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => viewModel.AnswerValue)
            </div>
            <div class="display-field mb">
                @Html.DisplayFor(model => viewModel.AnswerValue)
            </div>

            <h2><i class="fa fa-angle-right"></i> Give A Grade</h2>
            <div class="display-field mb mt">
                <input type="text" name="gradeValue" />
            </div>
            <p>
                <input type="submit" class="btn btn-primary btn-sm" value="Add Grade" />
            </p>
        }

    </div>
</div>